resume-forge-n8n-workflow.json
{
  "name": "Resume Forge AI",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-resume",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1280,
        160
      ],
      "id": "62b83046-6f5c-4ef0-bedc-49d5d9979ab6",
      "name": "Webhook Trigger",
      "webhookId": "generate-resume-webhook-001"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\n\nconst jobDescription = body.jobDescription || '';\nconst baseResume    = body.baseResume    || '';\nconst recipientEmail = body.recipientEmail || 'rvnegi786@gmail.com';\n\nif (!jobDescription) throw new Error('jobDescription is required in the request body');\nif (!baseResume)     throw new Error('baseResume is required in the request body');\n\nreturn {\n  jobDescription,\n  baseResume,\n  recipientEmail\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1056,
        160
      ],
      "id": "4509f7f7-d00f-4e8f-acf0-82814bd69222",
      "name": "Prepare Input"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -832,
        384
      ],
      "id": "2cad3d10-749b-4b3c-85bc-93acd48500ec",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "HVe0U53T9cBRKobi",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert resume writer and ATS (Applicant Tracking System) specialist.\n\nYour task is to create a customized, ATS-optimized resume for the candidate based on their base resume and the provided job description.\n\nIMPORTANT RULES:\n1. ONLY include skills, technologies, and experiences that are RELEVANT to the job description. Do NOT add skills not present in the base resume.\n2. Re-order and re-emphasize bullet points to highlight what's most relevant to this specific role.\n3. Incorporate exact keywords and phrases from the job description naturally throughout the resume.\n4. Keep the tone professional and concise — no fluff.\n5. Use strong action verbs and quantified achievements wherever possible.\n6. Do NOT invent or fabricate any experience, skills, or numbers not present in the base resume.\n7. Format the output as clean plain text suitable for ATS parsing — no markdown symbols like ** or ##, no tables, no columns — just clean text with proper spacing and section headers in ALL CAPS.\n8. Maintain this exact structure:\n   - Name & Contact Info\n   - PROFESSIONAL SUMMARY (rewritten for this role)\n   - TECHNICAL SKILLS (only relevant ones, organized by category)\n   - PROFESSIONAL EXPERIENCE (with role-relevant bullet points first)\n   - PROJECTS (only the most relevant 2-3 projects)\n   - AWARDS\n   - EDUCATION\n\n---\nBASE RESUME:\n{{ $('Prepare Input').item.json.baseResume }}\n\n---\nJOB DESCRIPTION:\n{{ $('Prepare Input').item.json.jobDescription }}\n\n---\nNow generate the tailored, ATS-optimized resume below. Output ONLY the resume text — nothing else."
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -832,
        160
      ],
      "id": "516b89c2-cada-4c53-a406-2d041521c6ae",
      "name": "Generate Tailored Resume"
    },
    {
      "parameters": {
        "jsCode": "function cleanText(t) {\n  return (t || '').replace(/```[a-z]*\\n?/gi, '').replace(/```/g, '').trim();\n}\n\nconst resumeText = cleanText($json.text || $json.message || '');\nconst meta = $('Prepare Input').item.json;\nconst recipientEmail = meta.recipientEmail || 'rvnegi786@gmail.com';\nconst dateStr = new Date().toLocaleDateString('en-IN', { day: '2-digit', month: 'short', year: 'numeric' });\nconst jdPreview = (meta.jobDescription || '').substring(0, 100).replace(/\\n/g, ' ').trim();\nconst docTitle = `Tailored Resume - ${dateStr}`;\n\nconst emailBody = `\n<div style=\"font-family:Arial,sans-serif;max-width:560px;margin:0 auto;\">\n  <div style=\"background:linear-gradient(135deg,#7c3aed,#4f46e5,#06b6d4);padding:28px 32px;border-radius:10px 10px 0 0;text-align:center;\">\n    <div style=\"font-size:28px;\">🎯</div>\n    <h1 style=\"color:#fff;font-size:18px;margin:8px 0 4px;\">Your Tailored Resume is Ready</h1>\n    <p style=\"color:rgba(255,255,255,0.8);font-size:12px;margin:0;\">ResumeForge AI · Powered by Google Gemini</p>\n  </div>\n  <div style=\"background:#fff;border:1px solid #e5e1ff;border-top:none;padding:24px 32px;border-radius:0 0 10px 10px;\">\n    <p style=\"font-size:14px;color:#1a1a2e;margin-bottom:12px;\">Hi Ravinder,</p>\n    <p style=\"font-size:13px;color:#444;line-height:1.7;margin-bottom:16px;\">\n      Your ATS-optimized resume has been generated and is attached as a <strong>PDF</strong>.\n      It has been tailored for:\n    </p>\n    <div style=\"background:#f9f8ff;border-left:3px solid #7c3aed;padding:10px 14px;border-radius:0 6px 6px 0;margin-bottom:20px;\">\n      <p style=\"font-size:12px;color:#7c6a9e;margin:0;\"><em>${jdPreview}...</em></p>\n    </div>\n    <div style=\"background:#f0fdf4;border:1px solid #bbf7d0;border-radius:6px;padding:14px 18px;margin-bottom:20px;\">\n      <p style=\"font-size:12px;font-weight:700;color:#16a34a;margin-bottom:6px;\">&#128161; Next Steps</p>\n      <ul style=\"font-size:12px;color:#4b5563;padding-left:16px;line-height:1.8;margin:0;\">\n        <li>Open the attached PDF and review carefully</li>\n        <li>Submit the PDF directly — ATS systems prefer PDF format</li>\n        <li>Double-check all dates and company names before applying</li>\n      </ul>\n    </div>\n    <p style=\"font-size:11px;color:#9d9ab5;text-align:center;border-top:1px solid #f0eeff;padding-top:14px;margin:0;\">\n      Built by <a href=\"https://ravindernegi.vercel.app\" style=\"color:#7c3aed;\">Ravinder Singh Negi</a> · ResumeForge AI\n    </p>\n  </div>\n</div>`;\n\nreturn {\n  resumeText,\n  docTitle,\n  recipientEmail,\n  emailBody,\n  subject: `📄 Your Tailored Resume — ${dateStr} | ResumeForge AI`\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        160
      ],
      "id": "2f7bbe69-4597-460d-8718-5da2fdf5651d",
      "name": "Prepare Doc Content"
    },
    {
      "parameters": {
        "folderId": "1kP02FDEL_tgLYKetjHvNY3V8wNa9CA4t",
        "title": "={{ $json.docTitle }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -368,
        160
      ],
      "id": "b23cf5b4-5312-4a7b-bc86-980c772891ba",
      "name": "Create Google Doc",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "BJIhra8i6XyCoKh8",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "locationChoice": "location",
              "text": "={{ $('Prepare Doc Content').item.json.resumeText }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -160,
        160
      ],
      "id": "c9c18582-3da8-4b2e-b5fd-4cb85e2724a9",
      "name": "Insert Resume Text",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "BJIhra8i6XyCoKh8",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Create Google Doc').item.json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        80,
        160
      ],
      "id": "76c31605-6d5f-4faa-925e-33d7db5e0d9f",
      "name": "Export as PDF",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "jJjU8w4SU7FdfKXV",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Prepare Doc Content').item.json.recipientEmail }}",
        "subject": "={{ $('Prepare Doc Content').item.json.subject }}",
        "message": "={{ $('Prepare Doc Content').item.json.emailBody }}",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        288,
        32
      ],
      "id": "39bee715-6ec9-44fa-a90b-ddbb16aafb2e",
      "name": "Send Email",
      "webhookId": "8ccd2ba2-1968-4dfd-9a3d-553b14d9ae5d",
      "credentials": {
        "gmailOAuth2": {
          "id": "MHcXOs1UqQtfIqfY",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Create Google Doc').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        288,
        272
      ],
      "id": "f632fd15-21e6-4f46-9520-9f713140ee04",
      "name": "Delete Temp Doc",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "jJjU8w4SU7FdfKXV",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {
    "Generate Tailored Resume": [
      {
        "json": {
          "text": "RAVINDER SINGH NEGI\nNew Delhi, India | +91-9756726341 | rvnegi786@gmail.com\nlinkedin.com/in/ravinder-singh-negi | ravindernegi.vercel.app | github.com/Ravinder2001\n\nPROFESSIONAL SUMMARY\nSenior Frontend Developer with 4+ years of hands-on experience specializing in building pixel-perfect, high-performance user interfaces using React.js, Next.js, and TypeScript. Proven ability to develop scalable, reusable component libraries and implement responsive designs that work seamlessly across all devices. Skilled in web performance optimization, conducting frontend code reviews, and collaborating effectively in Agile teams. Delivered significant improvements in development speed and user experience for complex web applications.\n\nTECHNICAL SKILLS\nFrontend Technologies: React.js, Next.js (SSR, SSG, App Router), TypeScript, HTML5, CSS3, Tailwind CSS, JavaScript (ES6+), Responsive UI, Component Architecture, Performance Optimization (Core Web Vitals, lazy loading, code splitting)\nDevelopment Tools: Git, GitHub, Vercel, CI/CD, npm, Agile Development\n\nPROFESSIONAL EXPERIENCE\nSoftware Engineer | Mar 2022 – Present\nIndus Net Technologies (INT.), Kolkata\n-   Architected and delivered 30+ production-ready frontend features using React.js and Next.js for enterprise pharmaceutical platforms, impacting 1000+ internal users.\n-   Developed over 50 reusable UI components, establishing a scalable component library that enhanced frontend development speed by 40% and ensured consistent responsive design across multiple products.\n-   Led frontend implementation of complex dashboards and workflow systems, expertly handling large datasets and business-critical operations, ensuring a high-performance user experience.\n-   Improved code quality and enforced best practices through structured frontend code reviews, refactoring initiatives, and modern architecture patterns across the team.\n-   Collaborated effectively within an Agile team structure, contributing to 2-week sprint cycles for feature delivery.\n-   Promoted from Associate Software Engineer to Software Engineer within 2 years due to consistent high performance and significant technical contributions.\n\nPROJECTS\nHisabkar — Expense Splitter PWA | React.js, TypeScript, PostgreSQL, AWS\n-   Designed and deployed a scalable Progressive Web App (PWA) for personal finance management, featuring real-time transaction handling and cloud deployment.\nCreate Pro App — CLI Tool | Node.js, Open Source\n-   Built and published an open-source Node.js CLI tool to bootstrap modern React projects, focusing on optimized tooling and project structure, contributing to the frontend community.\n\nAWARDS\nWOW Award (2×) — Indus Net Technologies | Feb 2024 & Jun 2024\nRecognised twice for outstanding performance and significant technical contributions to key enterprise projects.\n\nEDUCATION\nSikkim Manipal University | Mar 2024 – Mar 2026\nMaster of Computer Applications (MCA) — Computer Science\n\nMasai School | Apr 2021 – Jan 2022\nFull Stack Web Development Program"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Prepare Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Input": {
      "main": [
        [
          {
            "node": "Generate Tailored Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Tailored Resume": {
      "main": [
        [
          {
            "node": "Prepare Doc Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Doc Content": {
      "main": [
        [
          {
            "node": "Create Google Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Google Doc": {
      "main": [
        [
          {
            "node": "Insert Resume Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Resume Text": {
      "main": [
        [
          {
            "node": "Export as PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Export as PDF": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete Temp Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Tailored Resume",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c0859eab-8d8c-4a40-b449-74bfd211769e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ac2779e196403c204e438a8d28553e4f16364a35c88307f93eb5b30f207f3cce"
  },
  "id": "lcLFHBMu4rE4Sfle",
  "tags": [
    {
      "updatedAt": "2026-04-01T11:50:29.365Z",
      "createdAt": "2026-04-01T11:50:29.365Z",
      "id": "T8ZCnxvjscu4k4nC",
      "name": "resume-forge"
    }
  ]
}