resume-forge-n8n-workflow.json
{
  "name": "Resume Forge AI v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-resume",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        17616,
        3056
      ],
      "id": "1987e09b-f20b-45a0-ad0e-bbdd5e2851cb",
      "name": "Webhook Trigger",
      "webhookId": "generate-resume-webhook-001"
    },
    {
      "parameters": {
        "jsCode": "// ─── Prepare Input: Simplify payload for full LLM processing ───\nconst body = $json.body || $json;\nconst baseResume = body.baseResume || '';\nconst jobDescription = body.jobDescription || '';\nconst recipientEmail = body.recipientEmail || 'rvnegi786@gmail.com';\nconst companyName = body.companyName || 'the company';\n\nreturn {\n  jobDescription,\n  baseResume,\n  recipientEmail,\n  companyName\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        17824,
        3056
      ],
      "id": "8bee402f-a2b7-48f4-b6d5-94d25351ce70",
      "name": "Prepare Input"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        18016,
        3280
      ],
      "id": "7b2bbdae-2372-45b5-a20a-e63946145868",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "3ey0z8Hetxu4jMor",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "==Act as a High-Level Executive Recruiter and ATS Optimization Expert. Your mission is to re-engineer the candidate's base resume into a high-performance, tailored resume that guarantees a 99% ATS match and shortlisting for the specific Job Description (JD) provided.\n\n### STRATEGIC OBJECTIVES:\n1. **ATS Keyword Mapping**: Identify the primary technical stack, tools, and methodologies in the JD. Naturally integrate these EXACT keywords into the Professional Summary, Technical Skills, and Experience bullets.\n2. **Impact-Focused Bullet Points**: Rewrite experience points using the STAR/XYZ formula (Accomplished [X] as measured by [Y], by doing [Z]). Start with strong action verbs and lead with quantifiable results or business impact where possible.\n3. **JD Alignment**: Reframe the candidate's past responsibilities to directly address the \"Key Responsibilities\" and \"Requirements\" listed in the JD.\n4. **Professional Summary**: Craft a punchy, 3-line summary that mirrors the \\\"Ideal Candidate\\\" profile described in the JD.\n5. **90-95% Page Density**: Balance conciseness with depth. The content must feel substantial and fill ~90-95% of an A4 page within the ONE-PAGE limit.\n\n### CRITICAL CONSTRAINTS:\n1. **ONE PAGE ONLY**: Strictly one page. Do not overflow.\n2. **STRICT JSON**: Output ONLY a valid JSON object. No preamble, no markdown blocks, no code fences.\n3. **TRUTH ONLY**: Use ONLY facts from the Base Resume. Reframe and prioritize, but NEVER hallucinate new roles, skills, or metrics.\n4. **ALL PROJECTS & AWARDS**: Include every project and award from the base resume. Highlight JD-relevant technologies used in these projects.\n\n### JSON SCHEMA:\n{\n  \"header\": {\n    \"name\": \"Full Name\",\n    \"contact\": \"Phone | Email | Location\",\n    \"links\": [{ \"label\": \"LinkedIn\", \"url\": \"...\" }, { \"label\": \"Portfolio/GitHub\", \"url\": \"...\" }]\n  },\n  \"summary\": \"High-impact 3-line summary tailored to the JD.\",\n  \"skills\": [{ \"category\": \"Category Name\", \"items\": [\"Skill 1\", \"Skill 2\"] }],\n  \"experience\": [\n    {\n      \"title\": \"Job Title (Slightly tailored to JD if appropriate)\",\n      \"company\": \"Company Name\",\n      \"date\": \"Date Range\",\n      \"bullets\": [\"STAR-method bullet points emphasizing JD-relevant achievements\"]\n    }\n  ],\n  \"projects\": [\n    {\n      \"title\": \"Project Title\",\n      \"link\": \"Link if any\",\n      \"bullets\": [\"Impact-focused description highlighting JD-relevant tech stack\"]\n    }\n  ],\n  \"awards\": [\n    { \"title\": \"Award Title\", \"link\": \"Link if any\", \"description\": \"Relevance to JD or general achievement\" }\n  ],\n  \"education\": [\n    {\n      \"degree\": \"Degree Name\",\n      \"school\": \"Institution\",\n      \"date\": \"Completion Date\",\n      \"details\": \"Relevant honors or coursework\"\n    }\n  ]\n}\n\n### INPUTS:\n---\nBASE RESUME:\n{{ $('Prepare Input').item.json.baseResume }}\n\n---\nJOB DESCRIPTION:\n{{ $('Prepare Input').item.json.jobDescription }}\n\n---\nGenerate the high-performance resume JSON now."
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        18016,
        3056
      ],
      "id": "d64dcf07-1d36-442e-b2be-53f6cc00c9de",
      "name": "Generate Tailored Resume"
    },
    {
      "parameters": {
        "jsCode": "// ─── Prepare Doc Content: Parse LLM JSON ───\nconst llmRaw = $(\"Generate Tailored Resume\").item.json.text || '';\nlet resumeData = {};\n\ntry {\n  // Clean markdown blocks if present\n  const cleaned = llmRaw.replace(/```json/g, '').replace(/```/g, '').trim();\n  resumeData = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error('Failed to parse LLM response as JSON: ' + e.message + '\\nRaw: ' + llmRaw);\n}\n\nconst meta = $(\"Prepare Input\").item.json;\nconst dateStr = new Date().toLocaleDateString('en-IN', { day:'2-digit', month:'short', year:'numeric' });\n\nreturn {\n  resumeData,\n  recipientEmail: meta.recipientEmail,\n  companyName: meta.companyName,\n  emailBody: `<p>Hi,</p><p>Your tailored resume for <strong>${meta.companyName}</strong> is attached.</p><p>Best of luck!</p>`,\n  subject: `📄 Resume for ${meta.companyName} — ${dateStr}`\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18256,
        3248
      ],
      "id": "5ef265ae-5fd2-437c-9d55-4d53b269cef9",
      "name": "Prepare Doc Content"
    },
    {
      "parameters": {
        "jsCode": "// ─── PDF Generator v4 — Structured, Professional, Optimized ───\nconst PDFDocument = require('pdfkit');\nconst meta = $(\"Prepare Doc Content\").item.json;\nconst data = meta.resumeData || {};\n\nconst pdfBuffer = await new Promise((resolve, reject) => {\n  const doc = new PDFDocument({\n    size: 'A4', \n    margins: { top: 35, bottom: 30, left: 40, right: 40 },\n    autoFirstPage: true,\n    bufferPages: true\n  });\n  const chunks = [];\n  doc.on('data', c => chunks.push(c));\n  doc.on('end', () => resolve(Buffer.concat(chunks)));\n  doc.on('error', reject);\n\n  const PW = doc.page.width;\n  const ML = 40, MR = 40;\n  const L = ML, R = PW - MR, CW = R - L;\n  const BLACK = '#000000', DARK_GRAY = '#333333', BLUE = '#0047AB', RULE = '#BBBBBB';\n\n  const stripMd = (s) => String(s || '').replace(/\\*\\*(.*?)\\*\\*/g, '$1').replace(/\\*(.*?)\\*/g, '$1').trim();\n\n  // ── Helper: Draw Section Header ──\n  const drawSectionHeader = (title) => {\n    if (doc.y > 740) doc.addPage();\n    doc.moveDown(0.8);\n    doc.font('Helvetica-Bold').fontSize(11).fillColor(BLACK)\n       .text(stripMd(title).toUpperCase(), L, doc.y, { width: CW });\n    const ry = doc.y + 1.5;\n    doc.moveTo(L, ry).lineTo(R, ry).lineWidth(0.6).strokeColor(RULE).stroke();\n    doc.moveDown(0.4);\n  };\n\n  // ── Helper: Draw Bullet ──\n  const drawBullet = (text, xOffset = 15) => {\n    if (!text) return;\n    doc.font('Helvetica').fontSize(9.5).fillColor(DARK_GRAY)\n       .text('• ', L + 5, doc.y, { continued: true })\n       .text(stripMd(text), { width: CW - xOffset, lineGap: 2.2, align: 'justify' });\n    doc.moveDown(0.12);\n  };\n\n  // ── Helper: Draw Row (Left/Right) ──\n  const drawRow = (left, right, isBold = false) => {\n    const sy = doc.y;\n    const lWidth = CW - 110;\n    const lFont = isBold ? 'Helvetica-Bold' : 'Helvetica';\n    const cleanLeft = stripMd(left);\n    const cleanRight = stripMd(right);\n    \n    // Draw right part first (usually date)\n    if (cleanRight) {\n      doc.font('Helvetica-Oblique').fontSize(9).fillColor(DARK_GRAY)\n         .text(cleanRight, L, sy, { width: CW, align: 'right' });\n    }\n    \n    // Draw left part (title/company) which might wrap\n    doc.font(lFont).fontSize(10).fillColor(BLACK)\n       .text(cleanLeft, L, sy, { width: lWidth });\n    \n    // Calculate accurate height of left block and move cursor below it\n    const h = doc.heightOfString(cleanLeft, { width: lWidth });\n    doc.y = sy + h;\n    doc.moveDown(0.2);\n  };\n\n  // ── 1. HEADER ──\n  const h = data.header || {};\n  doc.font('Helvetica-Bold').fontSize(18).fillColor(BLACK).text(stripMd(h.name) || '', { align: 'center' });\n  doc.moveDown(0.1);\n  doc.font('Helvetica').fontSize(9).fillColor(DARK_GRAY).text(stripMd(h.contact) || '', { align: 'center' });\n  \n  if (h.links && h.links.length) {\n    doc.moveDown(0.1);\n    let currentY = doc.y;\n    let currentX = L;\n    const totalLinksWidth = h.links.reduce((acc, curve) => acc + doc.widthOfString(curve.label + ' | '), 0);\n    let startX = (PW - totalLinksWidth) / 2;\n    h.links.forEach((link, idx) => {\n      doc.font('Helvetica').fontSize(9).fillColor(BLUE)\n         .text(stripMd(link.label), startX, currentY, { link: link.url, continued: idx < h.links.length - 1 });\n      if (idx < h.links.length - 1) {\n        doc.fillColor(DARK_GRAY).text(' | ', { continued: true });\n      }\n      startX += doc.widthOfString(link.label + ' | ');\n    });\n    doc.text('', { continued: false }).moveDown(0.3);\n  }\n\n  // ── 2. SUMMARY ──\n  if (data.summary) {\n    drawSectionHeader('Professional Summary');\n    doc.font('Helvetica').fontSize(9.5).fillColor(DARK_GRAY).text(stripMd(data.summary), { width: CW, align: 'justify', lineGap: 2.2 });\n  }\n\n  // ── 3. SKILLS ──\n  if (data.skills && data.skills.length) {\n    drawSectionHeader('Technical Skills');\n    data.skills.forEach(s => {\n      doc.font('Helvetica-Bold').fontSize(9.5).fillColor(BLACK).text(stripMd(s.category) + ': ', L, doc.y, { continued: true })\n         .font('Helvetica').text(s.items.map(stripMd).join(', '), { width: CW, lineGap: 1.8 });\n      doc.moveDown(0.1);\n    });\n  }\n\n  // ── 4. EXPERIENCE ──\n  if (data.experience && data.experience.length) {\n    drawSectionHeader('Professional Experience');\n    data.experience.forEach(exp => {\n      drawRow(`${stripMd(exp.title)} | ${stripMd(exp.company)}`, exp.date, true);\n      if (exp.bullets) exp.bullets.forEach(b => drawBullet(b));\n      doc.moveDown(0.25);\n    });\n  }\n\n  // ── 5. PROJECTS ──\n  if (data.projects && data.projects.length) {\n    drawSectionHeader('Projects');\n    data.projects.forEach(p => {\n      const sy = doc.y;\n      const cleanTitle = stripMd(p.title);\n      doc.font('Helvetica-Bold').fontSize(9.5).fillColor(BLACK).text(cleanTitle, L, sy, { continued: !!p.link });\n      if (p.link) {\n        const displayUrl = p.link.replace(/^https?:\\/\\//, '');\n        doc.font('Helvetica').fontSize(8.5).fillColor(BLUE).text(` (${displayUrl})`, { link: p.link });\n      } else {\n        doc.text('');\n      }\n      if (p.bullets) p.bullets.forEach(b => drawBullet(b));\n      doc.moveDown(0.1);\n    });\n  }\n\n  // ── 6. AWARDS ──\n  if (data.awards && data.awards.length) {\n    drawSectionHeader('Awards & Recognition');\n    data.awards.forEach(a => {\n      const sy = doc.y;\n      const cleanTitle = stripMd(a.title);\n      doc.font('Helvetica-Bold').fontSize(9).fillColor(BLACK).text(cleanTitle, L, sy, { continued: !!(a.link || a.description) });\n      if (a.link) doc.font('Helvetica').fontSize(8).fillColor(BLUE).text(` (Link)`, { link: a.link, continued: !!a.description });\n      if (a.description) doc.font('Helvetica').fontSize(9).fillColor(DARK_GRAY).text(` — ${stripMd(a.description)}`, { continued: false });\n      else doc.text('');\n      doc.moveDown(0.08);\n    });\n  }\n\n  // ── 7. EDUCATION ──\n  if (data.education && data.education.length) {\n    drawSectionHeader('Education');\n    data.education.forEach(edu => {\n      drawRow(`${stripMd(edu.degree)} | ${stripMd(edu.school)}`, edu.date, true);\n      if (edu.details) {\n        doc.font('Helvetica').fontSize(8.5).fillColor(DARK_GRAY).text(stripMd(edu.details), L + 10, doc.y, { width: CW - 10 });\n      }\n      doc.moveDown(0.1);\n    });\n  }\n\n  doc.end();\n});\n\nreturn {\n  json: {\n    recipientEmail: meta.recipientEmail,\n    subject: meta.subject,\n    emailBody: meta.emailBody\n  },\n  binary: {\n    data: {\n      data: pdfBuffer.toString('base64'),\n      mimeType: 'application/pdf',\n      fileName: `Resume_${meta.companyName.replace(/\\s+/g, '_')}.pdf`\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18416,
        3056
      ],
      "id": "50f98575-d0f1-4256-9350-2776caa1746d",
      "name": "Generate PDF"
    },
    {
      "parameters": {
        "fromEmail": "rvnegi786@gmail.com",
        "toEmail": "={{ $json.recipientEmail }}",
        "subject": "={{ $json.subject }}",
        "options": {
          "attachments": "data"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        18624,
        3056
      ],
      "id": "f05ff47d-5659-4b98-805c-f25454e37d87",
      "name": "Send Email",
      "webhookId": "6d763720-f1d2-4dee-a426-3756c648a759",
      "credentials": {
        "smtp": {
          "id": "kSm8W8jkQVcB7hBa",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Prepare Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Input": {
      "main": [
        [
          {
            "node": "Generate Tailored Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Tailored Resume": {
      "main": [
        [
          {
            "node": "Prepare Doc Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Doc Content": {
      "main": [
        [
          {
            "node": "Generate PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate PDF": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Tailored Resume",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d2071a69-53e6-40a5-aaa7-87ed94aeba97",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "244f0582025a5a1723ff590318e283e418a8e310550c766405fc03e1203c679a"
  },
  "id": "AGakYXzX1Bt9thbC",
  "tags": [
    {
      "updatedAt": "2026-04-02T06:16:24.152Z",
      "createdAt": "2026-04-02T06:16:24.152Z",
      "id": "8Yi1VIaaOfV81ls4",
      "name": "resume-forge"
    }
  ]
}